/* .full-image {
	width: 50%;
	min-height: 80vh;
	border-radius: 5px;
    /* background-color: black; 
    background-image: url("/pic/admin.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */